<main class="main" id="top">
    <!--NAVBAR-->
   <app-navbar></app-navbar>
    <!--END-->
    <section class="diagonal-background">
      <div class="container py-5">
        <h1 class="text-center text-white pt-5 mt-5">
           Successfully Registered !
        </h1>

        <form [formGroup]="successForm">
          <h3 class="text-center text-white py-5">Your Application Number : <input type="text" class="form-control p-3 m-1" formControlName="applicationNumber" readonly/></h3>
        </form>
        <h5 class="text-center text-white">SMS has been to sent to your Mobile Number. Kindly do the payment for further process.</h5>
      </div>

      <app-footer style="position: fixed; bottom: 0px !important; width: 100%;"></app-footer>

    </section>
  </main>